body {
    background-color: #522B91;
    
}
header {
    background-color: #E1C4FF;
    align-content:center;
    text-align:center;
}

main {
    background-color:#D58EFF;
    text-align:center;
}

.center {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.bigText{
    font-size:xx-large;
}